<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Nicole Alonso</title>
  </head>
  <body>
    <div style="background-color: white;
                text-align: center;">
      <h1>NICOLE ALONSO</h1>
    </div>
      <h2>WHAT IS MY BACKGROUND?</h1>
        <p>Hi! My name is Nicole Alonso and I am at the Google CSSI in NYC!
        I am going to be a freshman at Claremont Mckenna College this fall.
        I plan to major in computerscience and neuroscience. I have one brother named Noah.
        My family and I are from Clifton, New Jersey and we are of Cuban and Canadian descent.
    </p>
    <h3>WHAT ARE MY FAVORITES?</h1>
      <div id="board">
      <img src="/static/pepperoni.jpeg" width="300" height="200"></img>
      <img src="/static/prisonbreak.jpg" width="300" height="200"></img>
      <img src="/static/travel.jpg" width="300" height="200"></img>
    </div>
        <p>My favorite color is blue and I love pepperoni.
          Some of my favorite TV shows are Prison Break, Dexter, and Breaking Bad.
          I enjoy traveling, trying new foods, and photography.
        <a href="http://localhost:8080/photolibrary" target="_blank">
          Click here to view some pictues I've taken!</a>
        </p>
    <h4>WHAT ARE THE BEST MEMES?</h1>
      <img src="/static/meme.jpg" width="300" height="200"></img>
      <img src="/static/meme2.jpeg" width="300" height="200"></img>
      <img src="/static/meme3.jpeg" width="300" height="200"></img>

  </body>
</html>
